<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css" >
    <link rel="stylesheet" type="text/css" href="css/app.css" >
    <title>BugTrackingSystem</title>
    <!-- <script src="./js/main.js" defer></script>-->
</head>
<body>
    <div class="app">
        <div class="menu">
            <a href="./app.html">Главное</a>
            <a href="./tasks.html">Задачи</a>
            <a href="./projects.html">Проекты</a>
            <a href="./users.html">Пользователи</a>
            <a href="./settings.html">Настройки</a>
        </div>
        <div class="content">
            <div class="user__info">
                <h2 class="name">Веревкин Иван Викторович</h2>
                <h4 class="post">Инженер</h4>
                <h4 class="authority">Администратор</h4>
                <div class="projects">
                    <h2 class="prtoject__header">Проекты:</h2>
                    <div class="prtoject">Prtoject 1</div>
                    <div class="prtoject">Prtoject 2</div>
                    <div class="prtoject">Prtoject 3</div>
                </div>
            </div>
            <div class="tasks">
                <h2 class="task__header">Задачи:</h2>
                <div class="task">Task 1</div>
                <div class="task">Task 2</div>
                <div class="task">Task 3</div>
            </div>
        </div>
    </div>
</body>
</html>