<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css" >
    <title>BugTrackingSystem</title>
</head>
<body>
    <div class="app">
        <div class="menu">
            <a href="./app.html">Главное</a>
            <a href="./tasks.html">Задачи</a>
            <a href="./projects.html">Проекты</a>
            <a href="./users.html">Пользователи</a>
            <a href="./settings.html">Настройки</a>
        </div>
        <div class="content">
           
        </div>
    </div>
</body>
</html>