.user__info{
    grid-column: span 6;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 10px;
}
.name {
    grid-column: span 6;
}

.post {
    grid-column: span 3;
}

.authority {
    grid-column: span 3;
}

.projects {
    grid-column: span 6;
}

.tasks {
    grid-column: span 6;
}